<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/dist/css/bootstrap.rtl.min.css">
    <link href="assets/dist/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/dist/css/fontawesome-stars.css" rel="stylesheet">

    <link href="assets/dist/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../bootstrap-5.0.1/scss/_variables.scss">

</head>

<body>
<nav class="border-bottom top-header">
    <div class="container d-flex justify-content-between">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2 border-start" aria-current="page"><i
                    class="fa fa-heart text-danger"></i> مهمتنا</a></li>
            <li class="nav-item">
                <a href="#contactUs" class="nav-link link-dark px-2 border-start border-end"
                   data-bs-toggle="modal">
                    <i class="fa fa-phone"></i>
                    اتصل بنا</a>
            </li>
        </ul>
        <ul class="nav">
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2 border-start">
                <i class="fa fa-facebook-f"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2 border-start">
                <i class="fa fa-instagram"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2 border-start">
                <i class="fa fa-youtube-play"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2 border-start border-end">
                <i class="fa fa-twitter"></i></a></li>
        </ul>
    </div>
</nav>
<header class="border-bottom ">
    <!--        <div class="container d-flex justify-content-between">-->
    <nav class="navbar navbar-expand-lg navbar-light text-dark p-0">
        <div class="container d-flex justify-content-between">
            <span class="d-flex flex-fill align-items-center">
<!--                <a href="" class="fs-4 text-dark text-decoration-none">Double header</a>-->
                <a href="" class=" text-dark text-decoration-none"><img src="assets/dist/images/logo.png" alt=""
                                                                        width="80"></a>
            </span>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#">الرئيسية</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">الكتب</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">المؤلفون</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">التصنيفات</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            المزيد
                        </a>
                        <ul class="dropdown-menu mt-2" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item border-bottom" href="#"> المدونة </a></li>
                            <li><a class="dropdown-item border-bottom" href="#"> انشر معنا </a></li>
                            <li><a class="dropdown-item border-bottom" href="#"> مهمتنا </a></li>
                            <li><a class="dropdown-item " href="#"> اتصل بنا </a></li>

                        </ul>
                    </li>

                </ul>

                <ul class="navbar-nav d-flex">
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2 "> دخول <i
                            class="fa fa-lock"></i></a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2 "> تسجيل
                        <i class="fa fa-user-plus"></i></a></li>
                </ul>


            </div>
        </div>
    </nav>
    <!--        </div>-->
</header>
<div class="pt-3 pb-3 align-items-center bg-primary bg-gradient">
    <div class="container">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item "><a href="#" class="text-decoration-none text-white">الرئيسية</a></li>
                <li class="breadcrumb-item active" aria-current="page">الكتب</li>
            </ol>
        </nav>
    </div>
</div>


<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">

            <div class="col-md-3">

                <div class="card mb-5">
                    <div class="card-header">
                        <h5><a href="" class="text-decoration-none text-dark">التصنيفات</a></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="" class="text-decoration-none text-dark">An item</a>
                        </li>
                        <li class="list-group-item"><a href="" class="text-decoration-none text-dark">A second
                            item</a>
                        </li>
                        <li class="list-group-item"><a href="" class="text-decoration-none text-dark">A third
                            item</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row pb-4">
                    <div class="col-md-12">
                        <h4 class=" float-start pb-2 border-3 border-primary border-bottom"> كل الكتب</h4>
                    </div>
                </div>
                <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="assets/dist/images/1.png" class="card-img-top" alt="..." height="241"
                                 width="171">
                            <div class="card-body">
                                <h6 class="card-title">عنوان الكتاب</h6>
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="d-flex justify-content-between like pb-2">
                                        <span class="float-start" data-bs-toggle="tooltip"
                                              data-bs-placement="top" title="تحميل"><i
                                                class="fa fa-download"></i> 55</span>
                                    <span class="float-end" data-bs-toggle="tooltip"
                                          data-bs-placement="top" title="إضافة للمفضلة"><i
                                            class="fa fa-bookmark text-danger"></i></span>
                                </div>
                                <div class="container d-flex justify-content-center mt-100">
                                    <select class="example">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="assets/dist/images/1.png" class="card-img-top" alt="..." height="241"
                                 width="171">
                            <div class="card-body">
                                <h6 class="card-title">عنوان الكتاب</h6>
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="d-flex justify-content-between like pb-2">
                                        <span class="float-start" data-bs-toggle="tooltip"
                                              data-bs-placement="top" title="تحميل"><i
                                                class="fa fa-download"></i> 55</span>
                                    <span class="float-end" data-bs-toggle="tooltip"
                                          data-bs-placement="top" title="إضافة للمفضلة"><i
                                            class="fa fa-bookmark text-danger"></i></span>
                                </div>
                                <div class="container d-flex justify-content-center mt-100">
                                    <select class="example">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="assets/dist/images/1.png" class="card-img-top" alt="..." height="241"
                                 width="171">
                            <div class="card-body">
                                <h6 class="card-title">عنوان الكتاب</h6>
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="d-flex justify-content-between like pb-2">
                                        <span class="float-start" data-bs-toggle="tooltip"
                                              data-bs-placement="top" title="تحميل"><i
                                                class="fa fa-download"></i> 55</span>
                                    <span class="float-end" data-bs-toggle="tooltip"
                                          data-bs-placement="top" title="إضافة للمفضلة"><i
                                            class="fa fa-bookmark-o"></i></span>
                                </div>
                                <div class="container d-flex justify-content-center mt-100">
                                    <select class="example">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="assets/dist/images/1.png" class="card-img-top" alt="..." height="241"
                                 width="171">
                            <div class="card-body">
                                <h6 class="card-title">عنوان الكتاب</h6>
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="d-flex justify-content-between like pb-2">
                                        <span class="float-start" data-bs-toggle="tooltip"
                                              data-bs-placement="top" title="تحميل"><i
                                                class="fa fa-download"></i> 55</span>
                                    <span class="float-end" data-bs-toggle="tooltip"
                                          data-bs-placement="top" title="إضافة للمفضلة"><i
                                            class="fa fa-bookmark-o"></i></span>
                                </div>
                                <div class="container d-flex justify-content-center mt-100">
                                    <select class="example">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <img src="assets/dist/images/1.png" class="card-img-top" alt="..." height="241"
                                 width="171">
                            <div class="card-body">
                                <h6 class="card-title">عنوان الكتاب</h6>
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="d-flex justify-content-between like pb-2">
                                        <span class="float-start" data-bs-toggle="tooltip"
                                              data-bs-placement="top" title="تحميل"><i
                                                class="fa fa-download"></i> 55</span>
                                    <span class="float-end" data-bs-toggle="tooltip"
                                          data-bs-placement="top" title="إضافة للمفضلة"><i
                                            class="fa fa-bookmark text-danger"></i></span>
                                </div>
                                <div class="container d-flex justify-content-center mt-100">
                                    <select class="example">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="assets/dist/images/1.png" class="card-img-top" alt="..." height="241"
                                 width="171">
                            <div class="card-body">
                                <h6 class="card-title">عنوان الكتاب</h6>
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="d-flex justify-content-between like pb-2">
                                        <span class="float-start" data-bs-toggle="tooltip"
                                              data-bs-placement="top" title="تحميل"><i
                                                class="fa fa-download"></i> 55</span>
                                    <span class="float-end" data-bs-toggle="tooltip"
                                          data-bs-placement="top" title="إضافة للمفضلة"><i
                                            class="fa fa-bookmark text-danger"></i></span>
                                </div>
                                <div class="container d-flex justify-content-center mt-100">
                                    <select class="example">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="assets/dist/images/1.png" class="card-img-top" alt="..." height="241"
                                 width="171">
                            <div class="card-body">
                                <h6 class="card-title">عنوان الكتاب</h6>
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="d-flex justify-content-between like pb-2">
                                        <span class="float-start" data-bs-toggle="tooltip"
                                              data-bs-placement="top" title="تحميل"><i
                                                class="fa fa-download"></i> 55</span>
                                    <span class="float-end" data-bs-toggle="tooltip"
                                          data-bs-placement="top" title="إضافة للمفضلة"><i
                                            class="fa fa-bookmark-o"></i></span>
                                </div>
                                <div class="container d-flex justify-content-center mt-100">
                                    <select class="example">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="assets/dist/images/1.png" class="card-img-top" alt="..." height="241"
                                 width="171">
                            <div class="card-body">
                                <h6 class="card-title">عنوان الكتاب</h6>
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="d-flex justify-content-between like pb-2">
                                        <span class="float-start" data-bs-toggle="tooltip"
                                              data-bs-placement="top" title="تحميل"><i
                                                class="fa fa-download"></i> 55</span>
                                    <span class="float-end" data-bs-toggle="tooltip"
                                          data-bs-placement="top" title="إضافة للمفضلة"><i
                                            class="fa fa-bookmark-o"></i></span>
                                </div>
                                <div class="container d-flex justify-content-center mt-100">
                                    <select class="example">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <img src="assets/dist/images/1.png" class="card-img-top" alt="..." height="241"
                                 width="171">
                            <div class="card-body">
                                <h6 class="card-title">عنوان الكتاب</h6>
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="d-flex justify-content-between like pb-2">
                                        <span class="float-start" data-bs-toggle="tooltip"
                                              data-bs-placement="top" title="تحميل"><i
                                                class="fa fa-download"></i> 55</span>
                                    <span class="float-end" data-bs-toggle="tooltip"
                                          data-bs-placement="top" title="إضافة للمفضلة"><i
                                            class="fa fa-bookmark text-danger"></i></span>
                                </div>
                                <div class="container d-flex justify-content-center mt-100">
                                    <select class="example">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="assets/dist/images/1.png" class="card-img-top" alt="..." height="241"
                                 width="171">
                            <div class="card-body">
                                <h6 class="card-title">عنوان الكتاب</h6>
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="d-flex justify-content-between like pb-2">
                                        <span class="float-start" data-bs-toggle="tooltip"
                                              data-bs-placement="top" title="تحميل"><i
                                                class="fa fa-download"></i> 55</span>
                                    <span class="float-end" data-bs-toggle="tooltip"
                                          data-bs-placement="top" title="إضافة للمفضلة"><i
                                            class="fa fa-bookmark text-danger"></i></span>
                                </div>
                                <div class="container d-flex justify-content-center mt-100">
                                    <select class="example">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="assets/dist/images/1.png" class="card-img-top" alt="..." height="241"
                                 width="171">
                            <div class="card-body">
                                <h6 class="card-title">عنوان الكتاب</h6>
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="d-flex justify-content-between like pb-2">
                                        <span class="float-start" data-bs-toggle="tooltip"
                                              data-bs-placement="top" title="تحميل"><i
                                                class="fa fa-download"></i> 55</span>
                                    <span class="float-end" data-bs-toggle="tooltip"
                                          data-bs-placement="top" title="إضافة للمفضلة"><i
                                            class="fa fa-bookmark-o"></i></span>
                                </div>
                                <div class="container d-flex justify-content-center mt-100">
                                    <select class="example">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="assets/dist/images/1.png" class="card-img-top" alt="..." height="241"
                                 width="171">
                            <div class="card-body">
                                <h6 class="card-title">عنوان الكتاب</h6>
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="d-flex justify-content-between like pb-2">
                                        <span class="float-start" data-bs-toggle="tooltip"
                                              data-bs-placement="top" title="تحميل"><i
                                                class="fa fa-download"></i> 55</span>
                                    <span class="float-end" data-bs-toggle="tooltip"
                                          data-bs-placement="top" title="إضافة للمفضلة"><i
                                            class="fa fa-bookmark-o"></i></span>
                                </div>
                                <div class="container d-flex justify-content-center mt-100">
                                    <select class="example">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <img src="assets/dist/images/1.png" class="card-img-top" alt="..." height="241"
                                 width="171">
                            <div class="card-body">
                                <h6 class="card-title">عنوان الكتاب</h6>
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="d-flex justify-content-between like pb-2">
                                        <span class="float-start" data-bs-toggle="tooltip"
                                              data-bs-placement="top" title="تحميل"><i
                                                class="fa fa-download"></i> 55</span>
                                    <span class="float-end" data-bs-toggle="tooltip"
                                          data-bs-placement="top" title="إضافة للمفضلة"><i
                                            class="fa fa-bookmark text-danger"></i></span>
                                </div>
                                <div class="container d-flex justify-content-center mt-100">
                                    <select class="example">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="assets/dist/images/1.png" class="card-img-top" alt="..." height="241"
                                 width="171">
                            <div class="card-body">
                                <h6 class="card-title">عنوان الكتاب</h6>
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="d-flex justify-content-between like pb-2">
                                        <span class="float-start" data-bs-toggle="tooltip"
                                              data-bs-placement="top" title="تحميل"><i
                                                class="fa fa-download"></i> 55</span>
                                    <span class="float-end" data-bs-toggle="tooltip"
                                          data-bs-placement="top" title="إضافة للمفضلة"><i
                                            class="fa fa-bookmark text-danger"></i></span>
                                </div>
                                <div class="container d-flex justify-content-center mt-100">
                                    <select class="example">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="assets/dist/images/1.png" class="card-img-top" alt="..." height="241"
                                 width="171">
                            <div class="card-body">
                                <h6 class="card-title">عنوان الكتاب</h6>
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="d-flex justify-content-between like pb-2">
                                        <span class="float-start" data-bs-toggle="tooltip"
                                              data-bs-placement="top" title="تحميل"><i
                                                class="fa fa-download"></i> 55</span>
                                    <span class="float-end" data-bs-toggle="tooltip"
                                          data-bs-placement="top" title="إضافة للمفضلة"><i
                                            class="fa fa-bookmark-o"></i></span>
                                </div>
                                <div class="container d-flex justify-content-center mt-100">
                                    <select class="example">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="assets/dist/images/1.png" class="card-img-top" alt="..." height="241"
                                 width="171">
                            <div class="card-body">
                                <h6 class="card-title">عنوان الكتاب</h6>
                                <div class="line">
                                    <hr>
                                </div>
                                <div class="d-flex justify-content-between like pb-2">
                                        <span class="float-start" data-bs-toggle="tooltip"
                                              data-bs-placement="top" title="تحميل"><i
                                                class="fa fa-download"></i> 55</span>
                                    <span class="float-end" data-bs-toggle="tooltip"
                                          data-bs-placement="top" title="إضافة للمفضلة"><i
                                            class="fa fa-bookmark-o"></i></span>
                                </div>
                                <div class="container d-flex justify-content-center mt-100">
                                    <select class="example">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container">
        <div class="row d-flex justify-content-between g-4">
            <div class="col-md-3">
                <a href=""
                   class="d-flex flex-fill align-items-center mb-lg-0 me-lg-auto text-white text-decoration-none">
                    <span class="fs-4"><img src="assets/dist/images/logo.png" alt="" width="80"></span>
                </a>
                <hr>
                <p class="text-white mt-4">اشترك بالقائمة البريدية لموقعنا وتوصل بجديد الكتب التي يتم طرحها مباشرة على
                    بريدك
                    الإلكتروني</p>

                <form action="" class="d-flex input-group">
                    <input class="form-control" type="email" placeholder="اشتراك" aria-label="sub">
                    <button class="btn btn-primary" type="submit">اشتراك</button>
                </form>

            </div>

            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><a href="#contactUs" data-bs-toggle="modal" class="text-decoration-none text-white"><i
                            class="fa fa-link"></i> اتصل بنا</a></li>
                    <hr>
                    <li><a href="" class="text-decoration-none text-white"><i class="fa fa-link"></i> انشر معنا</a></li>
                    <hr>
                    <li><a href="" class="text-decoration-none text-white"><i class="fa fa-envelope"></i> info@book.com</a>
                    </li>
                    <hr>
                    <li class="d-flex justify-content-between">
                        <span><a href="#" class="text-decoration-none text-white">
                            <i class="fa fa-facebook-f"></i></a></span>
                        <span><a href="#" class="text-decoration-none text-white"><i
                                class="fa fa-instagram"></i></a></span>
                        <span><a href="#" class="text-decoration-none text-white"><i
                                class="fa fa-youtube-play"></i></a></span>
                        <span><a href="#" class="text-decoration-none text-white"><i
                                class="fa fa-twitter"></i></a></span>

                    </li>

                </ul>
            </div>
            <div class="col-md-3">
                <h4>روابط سريعة</h4>
                <hr>
                <ul class="list-unstyled mt-4">
                    <li><a href="" class="text-decoration-none text-white"><i class="fa fa-link"></i> مهمتنا</a></li>
                    <hr>
                    <li><a href="" class="text-decoration-none text-white"><i class="fa fa-link"></i> سياسة الخصوصية</a>
                    </li>
                    <hr>
                    <li><a href="" class="text-decoration-none text-white"><i class="fa fa-link"></i> حقوق النشر</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<footer class="footer mt-auto py-3" style="background: #000">
    <div class="container">
        <div class="d-flex justify-content-center">
            <span class="text-muted">جميع الحقوق محفوظة @ 2021</span>
        </div>
    </div>
</footer>

<!-- contact us  modal -->
<div class="modal fade" id="contactUs" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom border-3 border-primary">
                <h5 class="modal-title" id="exampleModalLabel">إتصل بنا</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="">
                    <div class="mb-2">
                        <label for="name" class="form-label">الاسم</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="mb-2">
                        <label for="exampleInputEmail12" class="form-label">البريد الالكتروني</label>
                        <input type="email" class="form-control" id="exampleInputEmail12" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-2">
                        <label for="title" class="form-label">عنوان الرسالة</label>
                        <input type="text" class="form-control" id="title">
                    </div>
                    <div class="mb-2">
                        <label for="message" class="form-label">محتوى الرسالة</label>
                        <textarea class="form-control" id="message"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
                <button type="button" class="btn btn-primary">إرسال</button>
            </div>
        </div>
    </div>
</div>
<!--end contact us modal-->

<script src="assets/dist/js/jquery-3.6.0.min.js"></script>
<script src="assets/dist/js/bootstrap.bundle.min.js"></script>
<script src="assets/dist/js/jquery.barrating.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.example').barrating({
            theme: 'fontawesome-stars'
        });
    });
</script>
</body>

</html>